<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.react.reactapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.REaCT">
        <activity android:name=".Password">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Settings" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".Settings" />
        <activity android:name=".Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dashboard" />
        </activity>
        <activity android:name=".Cases" />
        <activity android:name=".Health" />
        <activity android:name=".Location" />
        <activity
            android:name=".Dashboard"
            android:theme="@style/Theme.REaCT" />
        <activity android:name=".RegPassword">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity android:name=".RegID">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity android:name=".RegFace">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity android:name=".RegInfo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/Theme.REaCT.NoActionBar" />
        <activity
            android:name=".Splashscreen"
            android:theme="@style/Theme.REaCT.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>